explicitActiveChannels: TRUE
library: CHR69200_*.*

class: "CHR69200"
flags: 0
sorted: no
implements: ivi, iviResourceMgr


attribute: "CHR69200_ATTR_ID_QUERY_RESPONSE"
	"CHR69200_ATTR_ID_QUERY_RESPONSE"
	string readonly 1 118C31
	//const: CHR69200_ATTR_ID_QUERY_RESPONSE
"

"
attribute: "CHR69200_ATTR_CHAN"
	"CHR69200_ATTR_CHAN"
	iL readwrite 1 118C32
	//const: CHR69200_ATTR_CHAN
"

"
attribute: "CHR69200_ATTR_CHAN_ID"
	"CHR69200_ATTR_CHAN_ID"
	string readonly 1 118C33
	//const: CHR69200_ATTR_CHAN_ID
"

"
attribute: "CHR69200_ATTR_CHAN_MAST_ALL"
	"CHR69200_ATTR_CHAN_MAST_ALL"
	string readonly 1 118C34
	//const: CHR69200_ATTR_CHAN_MAST_ALL
"

"
attribute: "CHR69200_ATTR_OUTP_STAT"
	"CHR69200_ATTR_OUTP_STAT"
	iL enum { CHR69200_VAL_OUT_OFF=0, CHR69200_VAL_OUT_ON=1, CHR69200_VAL_OUT_PAUSE=2, CHR69200_VAL_OUT_CONTINUE=3, CHR69200_VAL_OUT_OFFLINE=4 } readwrite 1 118E24
	//const: CHR69200_ATTR_OUTP_STAT
"

CHR69200_VAL_OUT_OFF (0)


CHR69200_VAL_OUT_ON (1)


CHR69200_VAL_OUT_PAUSE (2)


CHR69200_VAL_OUT_CONTINUE (3)


CHR69200_VAL_OUT_OFFLINE (4)


"
attribute: "CHR69200_ATTR_SPEC_ALL"
	"CHR69200_ATTR_SPEC_ALL"
	string readonly 1 118C36
	//const: CHR69200_ATTR_SPEC_ALL
"

"
attribute: "CHR69200_ATTR_SPEC_POW"
	"CHR69200_ATTR_SPEC_POW"
	fD readonly 1 118C37
	//const: CHR69200_ATTR_SPEC_POW
"

"
attribute: "CHR69200_ATTR_SPEC_CURR_SLEW"
	"CHR69200_ATTR_SPEC_CURR_SLEW"
	fD readonly 1 118C38
	//const: CHR69200_ATTR_SPEC_CURR_SLEW
"

"
attribute: "CHR69200_ATTR_SPEC_ESR_HIGH"
	"CHR69200_ATTR_SPEC_ESR_HIGH"
	fD readonly 1 118C39
	//const: CHR69200_ATTR_SPEC_ESR_HIGH
"

"
attribute: "CHR69200_ATTR_SPEC_VOLT_HIGH"
	"CHR69200_ATTR_SPEC_VOLT_HIGH"
	fD readonly 1 118C3A
	//const: CHR69200_ATTR_SPEC_VOLT_HIGH
"

"
attribute: "CHR69200_ATTR_SPEC_VOLT_LOW"
	"CHR69200_ATTR_SPEC_VOLT_LOW"
	fD readonly 1 118C3B
	//const: CHR69200_ATTR_SPEC_VOLT_LOW
"

"
attribute: "CHR69200_ATTR_SPEC_CURR"
	"CHR69200_ATTR_SPEC_CURR"
	fD readonly 1 118C3C
	//const: CHR69200_ATTR_SPEC_CURR
"

"
attribute: "CHR69200_ATTR_SPEC_ESR_LOW"
	"CHR69200_ATTR_SPEC_ESR_LOW"
	fD readonly 1 118C3D
	//const: CHR69200_ATTR_SPEC_ESR_LOW
"

"
attribute: "CHR69200_ATTR_SPEC_CR_LOW"
	"CHR69200_ATTR_SPEC_CR_LOW"
	fD readonly 1 118C3E
	//const: CHR69200_ATTR_SPEC_CR_LOW
"

"
attribute: "CHR69200_ATTR_SPEC_CR_HIGH"
	"CHR69200_ATTR_SPEC_CR_HIGH"
	fD readonly 1 118C3F
	//const: CHR69200_ATTR_SPEC_CR_HIGH
"

"
attribute: "CHR69200_ATTR_MEAS_KWH"
	"CHR69200_ATTR_MEAS_KWH"
	fD readonly 1 118C40
	//const: CHR69200_ATTR_MEAS_KWH
"

"
attribute: "CHR69200_ATTR_MEAS_ALL"
	"CHR69200_ATTR_MEAS_ALL"
	string readonly 1 118C41
	//const: CHR69200_ATTR_MEAS_ALL
"

"
attribute: "CHR69200_ATTR_MEAS_OPER"
	"CHR69200_ATTR_MEAS_OPER"
	iL enum { CHR69200_VAL_MEAS_OPER_OFF=0, CHR69200_VAL_MEAS_OPER_CCC=1, CHR69200_VAL_MEAS_OPER_CVC=2, CHR69200_VAL_MEAS_OPER_CPC=3, CHR69200_VAL_MEAS_OPER_CCD=4, CHR69200_VAL_MEAS_OPER_CVD=5, CHR69200_VAL_MEAS_OPER_CPD=6 } readonly 1 118C42
	//const: CHR69200_ATTR_MEAS_OPER
"

CHR69200_VAL_MEAS_OPER_OFF (0)


CHR69200_VAL_MEAS_OPER_CCC (1)


CHR69200_VAL_MEAS_OPER_CVC (2)


CHR69200_VAL_MEAS_OPER_CPC (3)


CHR69200_VAL_MEAS_OPER_CCD (4)


CHR69200_VAL_MEAS_OPER_CVD (5)


CHR69200_VAL_MEAS_OPER_CPD (6)


"
attribute: "CHR69200_ATTR_MEAS_TIME"
	"CHR69200_ATTR_MEAS_TIME"
	iL readonly 1 118C43
	//const: CHR69200_ATTR_MEAS_TIME
"

"
attribute: "CHR69200_ATTR_MEAS_STAT"
	"CHR69200_ATTR_MEAS_STAT"
	string readonly 1 118C44
	//const: CHR69200_ATTR_MEAS_STAT
"

"
attribute: "CHR69200_ATTR_MEAS_TEMP"
	"CHR69200_ATTR_MEAS_TEMP"
	string readonly 1 118C45
	//const: CHR69200_ATTR_MEAS_TEMP
"

"
attribute: "CHR69200_ATTR_MEAS_VOLT"
	"CHR69200_ATTR_MEAS_VOLT"
	fD readonly 1 118C46
	//const: CHR69200_ATTR_MEAS_VOLT
"

"
attribute: "CHR69200_ATTR_MEAS_CURR"
	"CHR69200_ATTR_MEAS_CURR"
	fD readonly 1 118C47
	//const: CHR69200_ATTR_MEAS_CURR
"

"
attribute: "CHR69200_ATTR_MEAS_POW"
	"CHR69200_ATTR_MEAS_POW"
	fD readonly 1 118C48
	//const: CHR69200_ATTR_MEAS_POW
"

"
attribute: "CHR69200_ATTR_MEAS_AH"
	"CHR69200_ATTR_MEAS_AH"
	fD readonly 1 118C49
	//const: CHR69200_ATTR_MEAS_AH
"

"
attribute: "CHR69200_ATTR_MEAS_DCIR"
	"CHR69200_ATTR_MEAS_DCIR"
	fD readonly 1 118C4A
	//const: CHR69200_ATTR_MEAS_DCIR
"

"
attribute: "CHR69200_ATTR_SOUR_MOD"
	"CHR69200_ATTR_SOUR_MOD"
	iL enum { CHR69200_VAL_MEAS_OPER_OFF=0, CHR69200_VAL_MEAS_OPER_CCC=1, CHR69200_VAL_MEAS_OPER_CVC=2, CHR69200_VAL_MEAS_OPER_CPC=3, CHR69200_VAL_MEAS_OPER_CCD=4, CHR69200_VAL_MEAS_OPER_CVD=5, CHR69200_VAL_MEAS_OPER_CPD=6 } readwrite 1 118C9C
	//const: CHR69200_ATTR_SOUR_MOD
"

CHR69200_VAL_MEAS_OPER_OFF (0)


CHR69200_VAL_MEAS_OPER_CCC (1)


CHR69200_VAL_MEAS_OPER_CVC (2)


CHR69200_VAL_MEAS_OPER_CPC (3)


CHR69200_VAL_MEAS_OPER_CCD (4)


CHR69200_VAL_MEAS_OPER_CVD (5)


CHR69200_VAL_MEAS_OPER_CPD (6)


"
attribute: "CHR69200_ATTR_SOUR_ALL"
	"CHR69200_ATTR_SOUR_ALL"
	string readwrite 1 118C94
	//const: CHR69200_ATTR_SOUR_ALL
"

"
attribute: "CHR69200_ATTR_SOUR_TIME_CUTOFF"
	"CHR69200_ATTR_SOUR_TIME_CUTOFF"
	iL readwrite 1 118C95
	//const: CHR69200_ATTR_SOUR_TIME_CUTOFF
"

"
attribute: "CHR69200_ATTR_SOUR_VOLT"
	"CHR69200_ATTR_SOUR_VOLT"
	fD readwrite 1 118C96
	//const: CHR69200_ATTR_SOUR_VOLT
"

"
attribute: "CHR69200_ATTR_SOUR_CURR"
	"CHR69200_ATTR_SOUR_CURR"
	fD readwrite 1 118C97
	//const: CHR69200_ATTR_SOUR_CURR
"

"
attribute: "CHR69200_ATTR_SOUR_POW"
	"CHR69200_ATTR_SOUR_POW"
	fD readwrite 1 118C98
	//const: CHR69200_ATTR_SOUR_POW
"

"
attribute: "CHR69200_ATTR_SOUR_VOLT_CUTOFF"
	"CHR69200_ATTR_SOUR_VOLT_CUTOFF"
	fD readwrite 1 118C99
	//const: CHR69200_ATTR_SOUR_VOLT_CUTOFF
"

"
attribute: "CHR69200_ATTR_SOUR_CURR_CUTOFF"
	"CHR69200_ATTR_SOUR_CURR_CUTOFF"
	fD readwrite 1 118C9A
	//const: CHR69200_ATTR_SOUR_CURR_CUTOFF
"

"
attribute: "CHR69200_ATTR_SOUR_CURR_SLEW"
	"CHR69200_ATTR_SOUR_CURR_SLEW"
	fD readwrite 1 118C9B
	//const: CHR69200_ATTR_SOUR_CURR_SLEW
"

"
attribute: "CHR69200_ATTR_BATT_OUTP"
	"CHR69200_ATTR_BATT_OUTP"
	iL enum { CHR69200_VAL_BATT_OUTP_MODE_OFF=0, CHR69200_VAL_BATT_OUTP_MODE_A=1, CHR69200_VAL_BATT_OUTP_MODE_B=2, CHR69200_VAL_BATT_OUTP_OFFLINE=101, CHR69200_VAL_BATT_OUTP_ON=102, CHR69200_VAL_BATT_OUTP_PAUSE=103, CHR69200_VAL_BATT_OUTP_PROGRAM=104 } readwrite 1 119019
	//const: CHR69200_ATTR_BATT_OUTP
"

CHR69200_VAL_BATT_OUTP_MODE_OFF (0)


CHR69200_VAL_BATT_OUTP_MODE_A (1)


CHR69200_VAL_BATT_OUTP_MODE_B (2)


CHR69200_VAL_BATT_OUTP_OFFLINE (101)


CHR69200_VAL_BATT_OUTP_ON (102)


CHR69200_VAL_BATT_OUTP_PAUSE (103)


CHR69200_VAL_BATT_OUTP_PROGRAM (104)


"
attribute: "CHR69200_ATTR_BATT_INIT"
	"CHR69200_ATTR_BATT_INIT"
	iL enum { CHR69200_VAL_BATT_INIT_VOL=1, CHR69200_VAL_BATT_INIT_CAP=0 } readwrite 1 11901A
	//const: CHR69200_ATTR_BATT_INIT
"

CHR69200_VAL_BATT_INIT_VOL (1)


CHR69200_VAL_BATT_INIT_CAP (0)


"
attribute: "CHR69200_ATTR_BATT_PARA"
	"CHR69200_ATTR_BATT_PARA"
	iL enum { CHR69200_VAL_BATT_PARA_AH=0, CHR69200_VAL_BATT_PARA_SOC=1 } readwrite 1 11901B
	//const: CHR69200_ATTR_BATT_PARA
"

CHR69200_VAL_BATT_PARA_AH (0)


CHR69200_VAL_BATT_PARA_SOC (1)


"
attribute: "CHR69200_ATTR_BATT_INIT_CAP"
	"CHR69200_ATTR_BATT_INIT_CAP"
	fD readwrite 1 11901C
	//const: CHR69200_ATTR_BATT_INIT_CAP
"

"
attribute: "CHR69200_ATTR_BATT_INIT_VOL"
	"CHR69200_ATTR_BATT_INIT_VOL"
	fD readwrite 1 11901D
	//const: CHR69200_ATTR_BATT_INIT_VOL
"

"
attribute: "CHR69200_ATTR_BATT_CAP"
	"CHR69200_ATTR_BATT_CAP"
	fD readwrite 1 11901E
	//const: CHR69200_ATTR_BATT_CAP
"

"
attribute: "CHR69200_ATTR_BATT_OCP"
	"CHR69200_ATTR_BATT_OCP"
	fD readwrite 1 11901F
	//const: CHR69200_ATTR_BATT_OCP
"

"
attribute: "CHR69200_ATTR_BATT_ESR"
	"CHR69200_ATTR_BATT_ESR"
	fD readwrite 1 119020
	//const: CHR69200_ATTR_BATT_ESR
"

"
attribute: "CHR69200_ATTR_BATT_BCH"
	"CHR69200_ATTR_BATT_BCH"
	fD readwrite 1 119021
	//const: CHR69200_ATTR_BATT_BCH
"

"
attribute: "CHR69200_ATTR_BATT_BCL"
	"CHR69200_ATTR_BATT_BCL"
	fD readwrite 1 119022
	//const: CHR69200_ATTR_BATT_BCL
"

"
attribute: "CHR69200_ATTR_BATT_BVH"
	"CHR69200_ATTR_BATT_BVH"
	fD readwrite 1 119023
	//const: CHR69200_ATTR_BATT_BVH
"

"
attribute: "CHR69200_ATTR_BATT_BVL"
	"CHR69200_ATTR_BATT_BVL"
	fD readwrite 1 119024
	//const: CHR69200_ATTR_BATT_BVL
"

"
attribute: "CHR69200_ATTR_BATT_VH"
	"CHR69200_ATTR_BATT_VH"
	fD readwrite 1 119025
	//const: CHR69200_ATTR_BATT_VH
"

"
attribute: "CHR69200_ATTR_BATT_VL"
	"CHR69200_ATTR_BATT_VL"
	fD readwrite 1 119026
	//const: CHR69200_ATTR_BATT_VL
"

"
attribute: "CHR69200_ATTR_BATT_EFFCHG"
	"CHR69200_ATTR_BATT_EFFCHG"
	fD readwrite 1 119027
	//const: CHR69200_ATTR_BATT_EFFCHG
"

"
attribute: "CHR69200_ATTR_BATT_EFFDSG"
	"CHR69200_ATTR_BATT_EFFDSG"
	fD readwrite 1 119028
	//const: CHR69200_ATTR_BATT_EFFDSG
"

"
attribute: "CHR69200_ATTR_BATT_BOH"
	"CHR69200_ATTR_BATT_BOH"
	fD readwrite 1 119029
	//const: CHR69200_ATTR_BATT_BOH
"

"
attribute: "CHR69200_ATTR_BATT_BOL"
	"CHR69200_ATTR_BATT_BOL"
	fD readwrite 1 11902A
	//const: CHR69200_ATTR_BATT_BOL
"

"
attribute: "CHR69200_ATTR_BATT_VOH"
	"CHR69200_ATTR_BATT_VOH"
	fD readwrite 1 11902B
	//const: CHR69200_ATTR_BATT_VOH
"

"
attribute: "CHR69200_ATTR_BATT_VOL"
	"CHR69200_ATTR_BATT_VOL"
	fD readwrite 1 11902C
	//const: CHR69200_ATTR_BATT_VOL
"

"
attribute: "CHR69200_ATTR_OUTP_MODE"
	"CHR69200_ATTR_OUTP_MODE"
	iL enum { CHR69200_VAL_OUTP_MODE_BATTERY=1, CHR69200_VAL_OUTP_MODE_MANUAL=0 } readwrite 1 118E25
	//const: CHR69200_ATTR_OUTP_MODE
"

CHR69200_VAL_OUTP_MODE_BATTERY (1)


CHR69200_VAL_OUTP_MODE_MANUAL (0)


"
attribute: "CHR69200_ATTR_BATT_SPEC_ALL"
	"CHR69200_ATTR_BATT_SPEC_ALL"
	string readonly 1 11907C
	//const: CHR69200_ATTR_BATT_SPEC_ALL
"

"
attribute: "CHR69200_ATTR_PROC_TIME_STAT"
	"CHR69200_ATTR_PROC_TIME_STAT"
	iL enum { CHR69200_VAL_OFF=0, CHR69200_VAL_ON=1, CHR69200_VAL_CLEAR=2 } readwrite 1 1190E0
	//const: CHR69200_ATTR_PROC_TIME_STAT
"

CHR69200_VAL_OFF (0)


CHR69200_VAL_ON (1)


CHR69200_VAL_CLEAR (2)


"
attribute: "CHR69200_ATTR_BATT_CURV_STATE"
	"CHR69200_ATTR_BATT_CURV_STATE"
	string readonly 1 1190E1
	//const: CHR69200_ATTR_BATT_CURV_STATE
"

"
attribute: "CHR69200_ATTR_MEAS_ALARM"
	"CHR69200_ATTR_MEAS_ALARM"
	iL readonly 1 1190E2
	//const: CHR69200_ATTR_MEAS_ALARM
"

"
attribute: "CHR69200_ATTR_PROT_CLE"
	"CHR69200_ATTR_PROT_CLE"
	iL readwrite 1 1190E3
	//const: CHR69200_ATTR_PROT_CLE
"

"
attribute: "CHR69200_ATTR_VOLT_PROT"
	"CHR69200_ATTR_VOLT_PROT"
	fD readwrite 1 1190E4
	//const: CHR69200_ATTR_VOLT_PROT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_UND"
	"CHR69200_ATTR_VOLT_PROT_UND"
	fD readwrite 1 1190E5
	//const: CHR69200_ATTR_VOLT_PROT_UND
"

"
attribute: "CHR69200_ATTR_CURR_PROT"
	"CHR69200_ATTR_CURR_PROT"
	fD readwrite 1 1190E6
	//const: CHR69200_ATTR_CURR_PROT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_DELT"
	"CHR69200_ATTR_VOLT_PROT_DELT"
	fD readwrite 1 1190E7
	//const: CHR69200_ATTR_VOLT_PROT_DELT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_DELT_UND"
	"CHR69200_ATTR_VOLT_PROT_DELT_UND"
	fD readwrite 1 1190E8
	//const: CHR69200_ATTR_VOLT_PROT_DELT_UND
"

"
attribute: "CHR69200_ATTR_CURR_PROT_DELT"
	"CHR69200_ATTR_CURR_PROT_DELT"
	fD readwrite 1 1190E9
	//const: CHR69200_ATTR_CURR_PROT_DELT
"

"
attribute: "CHR69200_ATTR_CURR_PROT_DELT_UND"
	"CHR69200_ATTR_CURR_PROT_DELT_UND"
	fD readwrite 1 1190EA
	//const: CHR69200_ATTR_CURR_PROT_DELT_UND
"

"
attribute: "CHR69200_ATTR_AH_PROT"
	"CHR69200_ATTR_AH_PROT"
	fD readwrite 1 1190EB
	//const: CHR69200_ATTR_AH_PROT
"

"
attribute: "CHR69200_ATTR_AH_PROT_STAT"
	"CHR69200_ATTR_AH_PROT_STAT"
	iL readwrite 1 1190EC
	//const: CHR69200_ATTR_AH_PROT_STAT
"

"
attribute: "CHR69200_ATTR_CURR_PROT_DELT_STAT"
	"CHR69200_ATTR_CURR_PROT_DELT_STAT"
	iL readwrite 1 1190ED
	//const: CHR69200_ATTR_CURR_PROT_DELT_STAT
"

"
attribute: "CHR69200_ATTR_CURR_PROT_DELT_UND_STAT"
	"CHR69200_ATTR_CURR_PROT_DELT_UND_STAT"
	iL readwrite 1 1190EE
	//const: CHR69200_ATTR_CURR_PROT_DELT_UND_STAT
"

"
attribute: "CHR69200_ATTR_CURR_PROT_STAT"
	"CHR69200_ATTR_CURR_PROT_STAT"
	iL readwrite 1 1190EF
	//const: CHR69200_ATTR_CURR_PROT_STAT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_DELT_STAT"
	"CHR69200_ATTR_VOLT_PROT_DELT_STAT"
	iL readwrite 1 1190F0
	//const: CHR69200_ATTR_VOLT_PROT_DELT_STAT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_DELT_UND_STAT"
	"CHR69200_ATTR_VOLT_PROT_DELT_UND_STAT"
	iL readwrite 1 1190F1
	//const: CHR69200_ATTR_VOLT_PROT_DELT_UND_STAT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_STAT"
	"CHR69200_ATTR_VOLT_PROT_STAT"
	iL readwrite 1 1190F2
	//const: CHR69200_ATTR_VOLT_PROT_STAT
"

"
attribute: "CHR69200_ATTR_VOLT_PROT_UND_STAT"
	"CHR69200_ATTR_VOLT_PROT_UND_STAT"
	iL readwrite 1 1190F3
	//const: CHR69200_ATTR_VOLT_PROT_UND_STAT
"

"
attribute: "CHR69200_ATTR_BATT_SLEW"
	"CHR69200_ATTR_BATT_SLEW"
	fD readwrite 1 11902D
	//const: CHR69200_ATTR_BATT_SLEW
"

"
attribute: "CHR69200_ATTR_ID_QUERY_RESPONSE_VALUE"
	"CHR69200_ATTR_ID_QUERY_RESPONSE_VALUE"
	iL readwrite 1 1190F4
	//const: CHR69200_ATTR_ID_QUERY_RESPONSE_VALUE
"

"
